<footer ng-controller="FooterCtrl">	
	<div class="container info"> 
		<div class="row">
			<h1 class="font">Basil<span class="colored">Veta&sigmaf;</span></h1>
		</div>
		<div class="row">
			<div class="navbar">
				<ul class="nav" ng-controller="NavCtrl">
					<li ng-repeat="item in menu"><a href="{{item.link}}" >{{item.title}}</a></li>
				</ul>
			</div>		
		</div>
		<div class="row">			
		  	<h6>&copy; Copyright {{date | date:'yyyy'}} Basil Vetas &nbsp;|&nbsp; All rights reserved &nbsp;|&nbsp; AngularJS / Squarespace Developer</h6>
		</div>
	</div>
</footer>


