<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><h2>Basil<span class="colored">Veta&sigmaf;</span></h2></a>
    </div>

    <!-- Collect content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in menu"><a href="{{item.link}}" >{{item.title}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container -->
</nav>