<!-- should be used inside of a .container element-->
<div class="social">  
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class="spaced-caps">Socialize</h3>
      <ul>
        <li ng-repeat="i in social">        
          <a id="{{i.name}}" ng-mouseover="color(i.name)" ng-mouseleave="default(i.name)" class="btn btn-lg btn-social-icon btn-default" ng-href="{{i.link}}" target="_blank"><span class="fa fa-{{i.name}}"></span></a>
        </li>
      </ul>
    </div>   
    <div class="col-md-4"></div>
  </div>   
</div>