/** 
 * Project Name: My Website
 * Author: Basil Vetas
**/

/*----------------------------------------------------------------------------- 
00=IMPORTS
-----------------------------------------------------------------------------*/

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
// @import "../../dist/css/_sprite.scss";
// @include sprites($spritesheet-sprites);

/*----------------------------------------------------------------------------- 
01=THEMES
-----------------------------------------------------------------------------*/

$font-stack: Arial, Helvetica, sans-serif;
$black: #000000;
$white: #FFFFFF;
$gray: #EEEEEE;
$dark-blue: #003366;
$nav-height: 60px;
$footer-height: 400px;

/*----------------------------------------------------------------------------- 
02=BASE   
-----------------------------------------------------------------------------*/

/* For sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body { 
  font-size: 18px; 
  word-wrap: break-word;
  // margin-bottom: $footer-height; // uncomment if footer is included
}

img {
  width: 100%;
  margin: 10px 0;
}

@media (max-width: 767px) {  
  body {
    font-size: 14px;  

    blockquote {
      font-size: 14px;        
    }
  }
  
  h1 {
   font-size: 28px; 
  }
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  tab-size: 2;
}

/*----------------------------------------------------------------------------- 
03=NAV
-----------------------------------------------------------------------------*/

.navbar-fixed-top {
  background: $dark-blue;
  min-height: $nav-height;
  border: none;  
}

.navbar-right li a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: $nav-height;  
  border: none;
}

.navbar-default {

  .navbar-nav li {

    a, a:visited {
      color: $white;
    }

    a:hover {
      background-color: $gray;
      color: $dark-blue;
    }
  } 

  a.navbar-brand {
    font: $font-stack;
    padding: 20px 0;
    margin: 0 30px;
    font-size: 20px;
    color: $white;
  }

  a.navbar-brand:hover, a.navbar-brand:visited {
    color: $white;  
  }

  .navbar-toggle:focus, .navbar-toggle:hover {
    background-color: $white;
  }  

}

.navbar-toggle {
  margin: 15px 30px;  
}

@media (max-width: 767px) {
  .navbar-right li a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
  }
}


/*----------------------------------------------------------------------------- 
04=HEADER
-----------------------------------------------------------------------------*/
header {
  /*background-image: url();*/
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;  
  height: 100px;  
}

/*----------------------------------------------------------------------------- 
05=FOOTER
-----------------------------------------------------------------------------*/

footer {
  position: absolute;  
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $dark-blue;
  color: $white;

  .navbar {

    border: none;
    margin: 0;  

    .nav li {
  
    display:inline-block;

      a {
        color: $white;
      }

      a:hover {  
        color: $dark-blue;
      }      
    }
  }
}

/*----------------------------------------------------------------------------- 
06=HOME
-----------------------------------------------------------------------------*/

#home {
  
}

.subtext {
  margin: 20px 0 80px 0;
  font-style: italic;
}

/*----------------------------------------------------------------------------- 
07=RESOURCES
-----------------------------------------------------------------------------*/

#resources a {
  font-size: 14px;
}

#resources ul {
  padding-left: 0;
  margin-bottom: 0;
}

#resources li {
  list-style: none;
}

/*----------------------------------------------------------------------------- 
08=ABOUT
-----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------- 
09=POSTS
-----------------------------------------------------------------------------*/
