<footer>	
	<div class="container info"> 
		<div class="row">
			<a href="https://twitter.com/basilvetas" target="_blank"><h2 class="font">@basilvetas</h2></a>
		</div>
		<div class="row">
			<div class="navbar">
				<ul class="nav" ng-controller="NavCtrl">
					<li ng-repeat="item in menu"><a href="{{item.link}}" class="spaced-caps">{{item.title}}</a></li>
				</ul>
			</div>		
		</div>
		<div class="row">			
		  	<h6>&copy; Copyright {{date | date:'yyyy'}} Basil Vetas &nbsp;|&nbsp; All rights reserved</h6>
		</div>
	</div>
</footer>


