<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://twitter.com/basilvetas" target="_blank">@basilvetas</a>
    </div>

    <!-- Collect content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="item in menu"><a ng-click="closeNav()" ng-href="{{item.link}}">{{item.title}}</a></li>
      </ul>
    </div>

  </div>
</nav>