<div id="home">
	<div class="container">		
		<div class="col-md-2"></div>			
		<div class="col-md-8">
			<div twitter></div>
			
			<div ng-repeat="post in postContents">	
				
				<!-- Title -->				
				<a ng-href="{{'/post/' + post.path}}"><h1>{{post.title}}</h1></a>	

				<!-- Image -->
				<img ng-if="post.image" ng-src="images/{{post.image}}" alt="post.path"/>

				<!-- Content -->
				<div class="content" ng-bind-html="post.body"></div>					
				
				<div class="subtext">

					<!-- Date -->
					<span>Posted: <a ng-href="{{'/post/' + post.path}}">{{post.date | date:'longDate'}}</a></span>
																				
					<!-- Sources -->
					<div ng-if="post.sources">
					Sources:
						<span ng-repeat="source in post.sources">
							<a ng-href="{{source.link}}" target="_blank">{{source.author}}</a><span ng-if="!$last">, </span>
						</span>	
					</div>

					<!-- Tags -->
					<span ng-if="post.tags">
						Tags: 
						<span ng-repeat="tag in post.tags">
							<a href>{{tag}}</a><span ng-if="!$last">, </span>
						</span>											
					</span>
					
				</div>							
			</div>

		</div>
		<div class="col-md-2"></div>		
	</div>
</div