<div id="contact">
	<div class="container">
		<div class="row">									
			<div class="col-md-6">
				<h3 class="spaced-caps">Get in Touch</h3>
				<div contact-form></div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<h3 class="spaced-caps">Contact Information</h3>
				<div class="contact-info">
					<img class="img-responsive" ng-src="{{portrait}}"  alt="Basil Portrait">		
					<h4>Basil Vetas</h4>
					<p>1234 Address Ave</p>
					<p>New York City, NY 11111</p>
					<p>243.596.3845</p>
					<p>hello@basilvetas.com</p>
				</div>
			</div>			
		</div>
	</div>
</div>
